<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58065501341-hog5lchstmh8iqt1ft7k6jrj49t1j53d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58065501341-hog5lchstmh8iqt1ft7k6jrj49t1j53d</string>
	<key>API_KEY</key>
	<string>AIzaSyCddLTuVGXOQyaVXHGgrxkaKkmIllDE6DI</string>
	<key>GCM_SENDER_ID</key>
	<string>58065501341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.khikaya.khikaya</string>
	<key>PROJECT_ID</key>
	<string>khikaya-17b41</string>
	<key>STORAGE_BUCKET</key>
	<string>khikaya-17b41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58065501341:ios:871e7c6c962c1b8d632874</string>
</dict>
</plist>